.azure-background {
	background-color: #f0ffff;
}

.beige-background {
	background-color: #f5f5dc;
}

.darkgrey-background {
	background-color: #a9a9a9;
}

.darkkhaki-background {
	background-color: #bdb76b;
}

.darkorange-background {
	background-color: #ff8c00;
}

.darksalmon-background {
	background-color: #e9967a;
}

.khaki-background {
	background-color: #f0e68c;
}

.lightblue-background {
	background-color: #add8e6;
}

.lightcyan-background {
	background-color: #e0ffff;
}

.lightgreen-background {
	background-color: #90ee90;
}

.lightgrey-background {
	background-color: #d3d3d3;
}

.lightpink-background {
	background-color: #ffb6c1;
}

.lightyellow-background {
	background-color: #ffffe0;
}

.orange-background {
	background-color: #ffa500;
}

.pink-background {
	background-color: #ffc0cb;
}

.silver-background {
	background-color: #c0c0c0;
}
