.treeNode {
	list-style-type: none;
}

.treeNodeRoot {
	margin: 0;
	padding: 0;
}

.treeNodeArrow {
	cursor: pointer;
	user-select: none;
}

.treeNodeArrow::before {
	content: "\25B6";
	color: black;
	margin-right: 6px;
	display: inline-block;
}

.treeNodeArrowDown::before {
	transform: rotate(90deg);
}

.nestedTreeNode {
	display: none;
}

.activeTreeNode {
	display: block;
	white-space: nowrap;
	overflow-x: auto;
}
